html {
    background-color: #191414;
    font-family: 'Inter';
    height: 100%;
}

/* Layout */

/* Home */
#selected_playlist {
    display: flex;
    justify-content: center;
}

#playlist_row {
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.playlist_container {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: gray;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25px;
}

.playlist_container:hover {
    background-color: #191414;
}

.playlist_info {
    height: fit-content;
    width: fit-content;
}

.playlist_info img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

.playlist_info p {
    clear: both;
    text-align: center;
    margin: 0;
    cursor: default;
}

#scan_btn {
    width: fit-content;
    height: 55px;

    /* Button styling */
    background-color: #1DB954;
    border-radius: 50px;
    border: none;

    /* Text styling */
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;

    /* Vertically and horizontally center text */
    display: flex;
    justify-content: center;
    align-content: center;

    /* Center button in div */
    margin: auto;
    left: 50%;
}

/* Home Page */
#index .inner {
    /* Vertically and horizontally center text */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

#index h1 {
    /* Text styling */
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

#index p {
    max-width: 350px;

    /* Text styling */
    color: white;
    font-size: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

#index a {
    width: 150px;
    height: 55px;

    /* Button styling */
    background-color: #1DB954;
    border-radius: 50px;
    border: none;

    /* Text styling */
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;

    /* Vertically and horizontally center text */
    display: flex;
    justify-content: center;
    align-content: center;

    /* Center button in div */
    margin: auto;
    left: 50%;
}

