* {
  font-family: sans-serif, Helvetica, Arial;
}

html,
body {
  color: white;
  height: 100%;
  display: table;
}

body {
  background-color: #121212;
  padding-top: 76px !important;
}

.center {
  display: flex;
  justify-content: center;
}

#placeholder_cover {
  width: 200px;
  height: 200px;

  background-color: #282828;

  display: flex;
  justify-content: center;
  align-items: center;
}

#placeholder_cover i {
  font-size: 48px;
}

#playlist_cover {
  border-radius: 5px;
  float: left;
  box-shadow: 0 1px 7px 1px #040404;
}

@media (hover: hover) {
  .grow {
    transition: all;
  }

  .grow:hover {
    transform: scale(1.1);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(86, 86, 86, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(135, 135, 135, 0.5);
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #121212;
}

/* Layout */
.navbar {
  background-color: #121212;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav_title {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: default;
}

.nav_title:hover {
  color: #b2b2b2;
}

.nav_sides {
  color: #b2b2b2;
}

.nav_sides:hover,
.nav_sides:active,
.nav_sides:focus {
  color: white;
}

.sign_out_btn {
  background-color: #090909;
  color: white !important;
  border-radius: 20px;
  margin-right: 8px;
}

.sign_out_btn:hover {
  background-color: #282828;
}

footer {
  display: table-row;
  height: 0;
}

#footer_inner {
  width: calc(100vw - var(--scrollbar-width));

  background-color: black;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

footer a:hover path {
  fill: #1db954;
}

#social_container a {
  float: left;
  margin: 0 5px;
}

.social_background {
  background-color: #282828;
  color: white;

  width: 50px;
  height: 50px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social_background:hover {
  color: #1db954;
  cursor: pointer;
}

/* Footer Media Queries */
@media (max-width: 650px) {
  #footer_inner {
    display: block;
  }

  #footer_inner a {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #footer_inner p {
    text-align: center;
  }

  #footer_inner div {
    display: flex;
    justify-content: center;
  }
}

/* Home */
#selected_playlist {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

#playlist_details {
  float: left;
  margin-left: 20px;
  width: 200px;
  height: fit-content;
  min-height: 200px;
  position: relative;
}

#playlist_details h5 {
  white-space: nowrap;
}

#playlist_details form {
  position: absolute;
  bottom: 0;
}

.inner_addon {
  position: relative;
}

.inner_addon .bi {
  position: absolute;
  padding: 0 0 0 10px;
  pointer-events: none;
  color: black;
  left: 0px;
  font-size: 16px;
  margin-top: 3px;
}

#playlist_search {
  border: none;
  border-radius: 50px;
  width: 250px;
  height: 30px;
  padding-left: 40px;

  font-size: 12px;
}

#playlist_search:focus-visible {
  outline: none;
}

#playlist_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist_container {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  background-color: #181818;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 25px;

  cursor: pointer;
}

.playlist_container:hover {
  background-color: #282828;
}

.playlist_info {
  height: fit-content;
  width: fit-content;
}

.playlist_info img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 3px 9px 3px #0f0f0f;
}

.playlist_info p {
  clear: both;
  margin: 7px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  white-space: nowrap;
}

#scan_btn {
  width: 175px;
  height: 55px;

  /* Button styling */
  background-color: #1db954;
  border-radius: 50px;
  border: none;

  /* Text styling */
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

  /* Vertically and horizontally center text */
  display: flex;
  justify-content: center;
  align-content: center;
}

#amount_input {
  margin-bottom: 8px;
}

#amount_input p {
  margin: 0;
  line-height: normal;
}

#amount_input input {
  width: 175px;
  height: 30px;

  border: none;
  border-radius: 50px;

  padding: 0 7px;

  font-size: 12px;
}

#amount_input input:focus-visible {
  outline: none;
}

/* Remove number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Scan */
#scan_info {
  width: 200px;
  min-height: 200px;
  overflow: hidden;
  margin: 0 20px;
}

#scan_info {
  white-space: nowrap;
}

#processes {
  clear: both;
  height: 200px;
}

#processes h5,
#processes p {
  text-align: center;
}

#process_message {
  margin: 0;
}

#processes button {
  width: fit-content;
  padding: 0 10px;

  margin: 0;
  margin-top: 30px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Recommended */
#playlist_info {
  /* overflow: hidden; */
  /* width: 420px; */
  float: left;
  margin: 0 20px 40px 20px;
}

#recommended_playlist_details {
  float: left;
  margin-left: 20px;
  width: 200px;
  /* height: fit-content;
    min-height: 200px; */
  position: relative;
}

#recommended_playlist_details h5 {
  white-space: nowrap;
}

.bi-question-circle-fill {
  font-size: 16px !important;
}

#scan_results {
  /* float: left; */
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.track_table {
  min-width: 350px;
}

.track_table td {
  color: white;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 1px;
}

.left_track_cell {
  border-radius: 5px 0 0 5px;
}

.right_track_cell {
  border-radius: 0 5px 5px 0;
}

.track_table tr {
  background-color: #121212;
  border-radius: 5px;
}

.track_table tr:hover {
  background-color: #2a2a2a;
}

.bi {
  font-size: 25px;
}

.song_details_inner {
  background-color: inherit;
  overflow: hidden;
}

/* .song_details_inner:hover {
    background-color: #2a2a2a;
} */

.song_name {
  margin: 0;
}

.recommended_songs {
  text-decoration: none;
  color: white;
}

.recommended_songs:hover {
  text-decoration: underline;
  color: white;
}

.recommended_artists {
  color: #b3b3b3;
}

.recommended_artists svg {
  float: left;
  margin-right: 5px;
}

.recommended_artists p {
  float: left;
  margin: 0;
  line-height: normal;
}

#recommended_sticky {
  position: sticky;
  bottom: 20px;
  margin: 0 0 20px 20px;
}

#add_tracks_container {
  width: 290px;
  height: 140px;

  background-color: #090909;
  border-radius: 15px;
  padding: 10px;

  clear: both;
}

#select_all_btn {
  background-color: #121212;
  border: 1px #b2b2b2 solid;
}

#select_all_btn:hover {
  border-color: white;
}

.add_songs_btn {
  width: 130px;

  /* Button styling */
  background-color: #1db954;
  border-radius: 50px;
  border: none;
  cursor: pointer;

  /* Text styling */
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;

  /* Vertically and horizontally center text */
  display: flex;
  justify-content: center;
  align-content: center;
}

.add_songs_btn:disabled {
  /* background-color: #187d3c;
    color: #ababab;  */
  opacity: 0.65;
  pointer-events: none;
}

#selected_songs {
  float: left;
  width: 130px;
  line-height: normal;
  height: 44px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#scrollTopBtn {
  display: none;
  position: sticky;
  left: 20px;
  bottom: 20px;
  margin-bottom: 20px;

  width: 50px;
  height: 50px;

  /* Button styling */
  background-color: #090909;
  border-radius: 50px;
  border: none;
}

#scrollTopBtn i {
  font-size: 35px;
  color: white;

  display: flex;
  justify-content: center;
  align-content: center;
}

#scrollTopBtn:hover {
  background-color: #282828;
}

/* Recommend media queries */
@media (min-width: 650px) {
  #playlist_info {
    position: sticky;
    top: 76px;
  }

  .track_table {
    margin-left: max(40%, 460px);
  }
}

@media (max-width: 919px), (max-height: 700px) {
  #playlist_info {
    position: static;
  }

  .track_table {
    clear: both;
    margin: 0 5px;
  }

  #recommended_sticky {
    float: right;
    margin: 0 20px 20px 0;
  }

  #scrollTopBtn {
    float: right;
    right: 20px;
  }
}

.marquee {
  -moz-animation: marquee 12s linear infinite alternate;
  -webkit-animation: marquee 12s linear infinite alternate;
  animation: marquee 12s linear infinite alternate;
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(0);
  }
  15% {
    -moz-transform: translateX(0%);
  }
  85% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(0%);
  }
  85% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  15% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  85% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
