* {
  font-family: sans-serif, Helvetica, Arial;
}

html,
body {
  color: white;
  height: 100%;
}

body {
  background-color: #121212;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

@media (hover: hover) {
  .grow {
    transition: all;
  }

  .grow:hover {
    transform: scale(1.1);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(86, 86, 86, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(135, 135, 135, 0.5);
}
::-webkit-scrollbar-corner {
  background-color: #121212;
}

/* Footer */
footer {
  margin-top: auto;
}

#footer_inner {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 1em;
}

footer a:hover path {
  fill: #1db954;
}

#copyright p {
  margin-bottom: 0;
}

#social_container a {
  float: left;
  margin: 0 5px;
}

.social_background {
  background-color: #282828;
  color: white;

  width: 50px;
  height: 50px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social_background:hover {
  color: #1db954;
  cursor: pointer;
}

@media (max-width: 650px) {
  #footer_inner {
    display: block;
  }

  #footer_inner a {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #footer_inner p {
    text-align: center;
  }

  #footer_inner div {
    display: flex;
    justify-content: center;
  }
}

/* Marquee */
.marquee {
  -moz-animation: marquee 12s linear infinite alternate;
  -webkit-animation: marquee 12s linear infinite alternate;
  animation: marquee 12s linear infinite alternate;
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(0);
  }
  15% {
    -moz-transform: translateX(0%);
  }
  85% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
  }
  15% {
    -webkit-transform: translateX(0%);
  }
  85% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  15% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  85% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}