#recommendations_container {
  display: inline-block;
}

/* Playlist info */
#playlist_container {
  width: 420px;
  float: left;
  position: sticky;
  top: 76px;
  margin-right: 40px;
  width: fit-content;
}

#selected_playlist {
  display: flex;
}

#playlist_cover {
  max-width: 200px;
  max-height: 200px;
}

#playlist_cover img {
  max-width: 100%;
  height: auto;

  border-radius: 5px;
  box-shadow: 0 1px 7px 1px #040404;
}

#playlist_details {
  margin-left: 20px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

/* Average features */
#average_features {
  margin-bottom: 20px;
}

#average_features_title {
  font-weight: bolder;
  margin: 0;
}

#average_features_table tr > td:first-child {
  padding-right: 10px;
}

/* Recommendations */
#recommendations {
  width: calc(100% - 400px);
  margin-left: 400px;
}

#table_checkbox {
  width: 40px;
}
#table_preview {
  width: 50px;
}
#table_similarity {
  width: 85px;
}
#table_track {
  width: 800px;
}

#recommendation_row td {
  padding: 10px 10px;
}
#recommendation_row td:first-child {
  border-radius: 5px 0 0 5px;
}
#recommendation_row td:last-child {
  border-radius: 0 5px 5px 0;
}
#recommendation_row:hover {
  background-color: #2a2a2a;
}

.bi-play-fill,
.bi-pause {
  font-size: 25px;
}

#recommendation_track {
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}
#recommendation_track div {
  overflow: hidden;
}

#recommendation_name {
  margin: 0;
}
#recommendation_name a {
  color: white;
}

#recommendation_artist {
  margin: 0;
  color: #b3b3b3;
}
#recommendation_artist svg {
  margin-bottom: 3px;
  margin-right: 5px;
}

/* Track selection */
#track_selection {
  width: 300px;
  background-color: #090909;
  border-radius: 15px;
  padding: 15px;
  position: sticky;
  bottom: 20px;
  opacity: 0.99;
}
#track_selection div {
  display: flex;
  justify-content: space-between;
}
#track_selection button {
  color: white;
  border-radius: 50px;
  font-size: 18px;
  padding: 7px 15px;
  width: 130px;
}

#select_options {
  margin-bottom: 10px;
}
#select_options p {
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
#select_options button {
  background-color: #121212;
  border: 1px solid #b2b2b2;
}
#select_options button:hover {
  border-color: white;
  background-color: #1a1a1a;
}

#add_options button {
  background-color: #1db952;
  border: none;
}
#add_options button:disabled {
  opacity: 0.65;
  pointer-events: none;
}

/* Media queries */
@media screen and (max-width: 999px) {
  #playlist_container {
    float: none;
    position: static;
    margin: 0 auto;
  }

  #recommendations {
    width: 100%;
    margin-left: 0;
  }

  #recommendations_table h5 {
    text-align: center;
  }
}

@media screen and (max-width: 449px) {
  #selected_playlist {
    display: block;
  }

  #playlist_details {
    margin-left: 0;
    text-align: center;
  }

  #average_features_title {
    text-align: center;
  }

  #average_features_table {
    margin: 0 auto;
  }

  #recommendation_similarity {
    display: none;
  }

  #table_similarity {
    display: none;
  }
}
