{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block content %}
    <div id="selected_playlist">
        <img src="" class="playlist_cover">
        <div class="playlist_cover" id="placeholder_cover">
            <i class="bi bi-music-note-beamed"></i>
        </div>
        <div style="float: left; margin-left: 20px; position: relative;">
            <h5>Select a playlist below</h5>
            <p></p>
            <form action="/scan" method="POST" style="position: absolute; bottom: 0;">
                <button class="btn grow" id="scan_btn" type="submit" name="scan_btn" disabled>Scan Playlist</button>
            </form>
        </div>
    </div>
    <div style="clear: both; margin: 20px 0 0 0;">
        {% if playlists %}
        <h3 style="text-align: center; margin: 0;">{{ playlists | length }} playlists retrieved</h3>

        <div class="center" style="margin-top: 15px;">
            <div class="inner_addon">
                <i class="bi bi-search"></i>
                <input type="text" name="playlist_search" id="playlist_search" placeholder="Search for playlists">
            </div>
        </div>

        <div>
            <div id="playlist_row">
                    <div class="playlist_container" onclick="playlistClick({'type': 'liked', 'total': '{{ liked_total }}'})">
                        <div class="playlist_info">
                            <img src='../static/images/liked_songs_cover.png'>
                            <p>Liked Songs</p>
                        </div>
                    </div>
                    <br>
                    {% for i in playlists %}
                        <div class="playlist_container" name="{{ i.name }}" onclick="playlistClick({'type': 'playlist', 'url': '{{ i.images[0].url }}', 'name': '{{ i.name }}', 'total': '{{ i.tracks.total }}', 'id': '{{ i.id }}'})">
                            <div class="playlist_info">
                                <img src='{{ i["images"][0]["url"] }}'>
                                <p>{{ i['name'] }}</p>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>You have no playlists valid for Spotify App</p>
        {% endif %}
    </div>

{% endblock %}