{% extends 'layout.html' %}

{% block head %}
<script src="../static/js/recommend.js"></script>
{% endblock %}

{% block content %}

<div id="recommend_content">

    <div id="playlist_info">
        <img src="{{ playlist[1] }}" class="playlist_cover" style="margin: 0 20px 20px 0;">

        <div id="scan_results" style="float: left;">
            <h5>{{ playlist[2] }}</h5>
            <p>{{ results[0] }} songs scanned</p>
            <p>{{ results[1] }} artists retrieved</p>
            <p>{{ results[2] }} genres retrieved</p>
        </div>

        <div style="clear: both;">
            <strong>Average Features</strong><br>
            <table>
                <tr>
                    <th style="width: 25px;"></th>
                    <th style="width: 150px;"></th>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic."></i></td>
                    <td>Acousticness:</td>
                    <td>{{ average_features['acousticness'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable."></i></td>
                    <td>Danceability:</td>
                    <td>{{ average_features['danceability'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy."></i></td>
                    <td>Energy:</td>
                    <td>{{ average_features['energy'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title='Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.'></i></td>
                    <td>Instrumentalness:</td>
                    <td>{{ average_features['instrumentalness'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live."></i></td>
                    <td>Liveness:</td>
                    <td>{{ average_features['liveness'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db."></i></td>
                    <td>Loudness:</td>
                    <td>{{ average_features['loudness'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks."></i></td>
                    <td>Speechiness:</td>
                    <td>{{ average_features['speechiness'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration."></i></td>
                    <td>Tempo:</td>
                    <td>{{ average_features['tempo'] }}</td>
                </tr>
                <tr>
                    <td><i class="bi bi-question-circle-fill" data-toggle="tooltip" data-placement="top" title="A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry)."></i></td>
                    <td>Valence:</td>
                    <td>{{ average_features['valence'] }}</td>
                </tr>
            </table>
        </div>

        <div id="add_tracks_container">
            <div>
                <p id="selected_songs" style="float: left;">0 songs selected</p>
                <button class="add_songs_btn grow" id="select_all_btn" value="select all" onclick="selectAll()" style="float: right;">Select all songs</button>
            </div>

            <div style="clear: both;">
                {% if playlist[0] == 'liked songs' %}
                    <button class="add_songs_btn" style="float: left;" disabled>Add to this Playlist</button>
                {% else %}
                    <button class="add_songs_btn grow" id="existingPlaylist" onclick="addToPlaylist('{{ playlist[0] }}')" style="float: left;" disabled>Add to this Playlist</button>
                {% endif %}
                <button class="add_songs_btn grow" id="newPlaylist" onclick="addToPlaylist('new')" style="float: right;" disabled>Add to New Playlist</button>
            </div>
        </div>
    </div>

    <table class="track_table">
        <tr style="pointer-events: none;">
            <th colspan="4">
                <h5>{{ recommendations | length }} recommendations</h5>
            </th>
        </tr>

        <tr style="pointer-events: none;">
            <th style="width: 5%;"></th>
            <th style="width: 5%;"></th>
            <th style="width: 10%;">Similarity</th>
            <th style="width: 80%;">Name</th>
        </tr>

        
        {% for i in recommendations %}
            <tr class="track_row">
                <td style="border-radius: 5px 0 0 5px">
                    <input class="trackCheckbox" id="{{ i.id }}" onclick="checkboxChange('{{ i.id }}')" type="checkbox" value="{{ i.id }}">
                </td>

                <td id="{{ i.preview }}" onclick="playPreview('{{ i.preview }}')">
                    {% if i.preview != None %}
                        <i class="bi bi-play-fill"></i>
                    {% endif %}
                    <audio>
                        <source src="{{ i.preview }}" type="audio/mpeg">
                    </audio>
                </td>

                <td>{{ i.similarity | round(5) }}</td>
                <td style="border-radius: 0 5px 5px 0;">
                    <a href="https://open.spotify.com/track/{{ i.id }}" target="_blank" class="recommended_songs">{{ i.name }}</a> <br> 
                    <div class="recommended_artists">
                        {% if i.explicit == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-explicit-fill" viewBox="0 0 16 16">
                                <path d="M2.5 0A2.5 2.5 0 0 0 0 2.5v11A2.5 2.5 0 0 0 2.5 16h11a2.5 2.5 0 0 0 2.5-2.5v-11A2.5 2.5 0 0 0 13.5 0h-11Zm4.326 10.88H10.5V12h-5V4.002h5v1.12H6.826V7.4h3.457v1.073H6.826v2.408Z"/>
                            </svg>
                        {% endif %}

                        
                        <p>
                            {% for j in range((i.artists | length) - 1) %}
                                {{ i.artists[j].name }}, 
                            {% endfor %}
                            {{ i.artists[-1].name }}
                        </p>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    
</div>

<button id="scrollTopBtn" title="Go to top"><i class="bi bi-arrow-up-short"></i></button>

{% endblock %}