{% extends 'layout.html' %}


{% block content %}
<div id="scan_content">
    <div class="center" style="margin: 0 160px 0 20px;">
        <img src="{{ playlist[1] }}" class="playlist_cover" style="margin: 0 20px 20px 0;">

        <div>
            <h5>{{ playlist[2] }}</h5>
            <p id="songs_retrieved"></p>
            <p id="artists_retrieved"></p>
            <p id="genres_retrieved"></p>
        </div>
    </div>

    <div id="processes">
        <h5 id="current_process"></h5>
        <p id="process_message"></p>
        <p id="process_message2"></p>
        
        <button class="add_songs_btn grow" id="newPlaylist skip_scan" disabled>Skip Scanning</button>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        localStorage.setItem('songs', 0)
        localStorage.setItem('failed_songs', 0)
        localStorage.setItem('artists', 0)
        localStorage.setItem('genres', 0)
        
        var namespace = `/${'{{ id }}'}`
        var socket1 = io()
        var socket2 = io(namespace)

        socket1.on('connect', function() {
            localStorage.setItem('total_recommendations', '{{ amount }}')
            socket1.emit('connect_event', {data: '{{ id }}', amount: '{{ amount }}'});
        });

        window.onunload = function() {
            socket1.emit('disconnect_event')
        }

        socket2.on('redirect', function() {
            window.location = '/recommend'
        })

        $('#processes > button').on('click', function() {
            var text = $(this).text()
            if (text === 'Skip Scanning') {
                socket1.emit('skip_songs_event')
            } else if (text === 'Skip Recommendations') {
                var recommendations_count = localStorage.getItem('recommendations_count')

                localStorage.setItem('total_recommendations', recommendations_count)
                socket1.emit('skip_recommendations_event')
            }
        })

        // Update current process
        socket2.on('retrieving_songs', function(msg) {
            localStorage.setItem('total_songs', msg.data)

            $('#current_process').text('Retrieving songs from playlist')
        })

        socket2.on('retrieving_genres', function() {
            var songs = localStorage.getItem('songs')
            var artists = localStorage.getItem('artists')

            $('#songs_retrieved').text(`${songs} songs retrieved`)
            $('#artists_retrieved').text(`${artists} artists retrieved`)

            $('#current_process').text('Retrieving genres from playlist')

            $('#processes > button').prop('disabled', true)
        })

        socket2.on('getting_recommendations', function() {
            var genres = localStorage.getItem('genres')
            $('#genres_retrieved').text(`${genres} genres retrieved`)
            $('#processes > button').text('Skip Recommendations')
            $('#processes > button').prop('disabled', true)

            $('#current_process').text('Getting song recommendations')
        })

        socket2.on('analysing_recommendations', function() {
            $('#current_process').text('Analysing recommendations')

            $('#processes > button').prop('disabled', true)
        })

        socket2.on('scoring_recommendations', function() {
            $('#current_process').text('Scoring similarity of recommendations')
        })

        socket2.on('sorting_recommendations', function() {
            $('#current_process').text('Sorting recommendations')
            $('#process_message').text('')
        })
        
        // Update process message
        socket2.on('retrieved_songs', function(msg) {
            localStorage.setItem('songs', msg.data)

            var songs = localStorage.getItem('songs')
            var total_songs = localStorage.getItem('total_songs')
            var failed_songs = localStorage.getItem('failed_songs')
            var artists = localStorage.getItem('artists')

            var message_songs = `${songs} of ${total_songs} with ${failed_songs} errors`
            var message_artists = `${artists} unique artists retrieved`
            
            $('#process_message').text(message_songs)
            $('#process_message2').text(message_artists)

            $('#processes > button').prop('disabled', false)
        });

        socket2.on('failed_scans', function(msg) {
            localStorage.setItem('failed_songs', msg.data)
            
            var songs = localStorage.getItem('songs')
            var total_songs = localStorage.getItem('total_songs')
            var failed_songs = localStorage.getItem('failed_songs')
            var artists = localStorage.getItem('artists')
            
            var message_songs = `${songs} of ${total_songs} with ${failed_songs} errors`
            var message_artists = `${artists} unique artists retrieved`
            
            $('#process_message').text(message_songs)
            $('#process_message2').text(message_artists)
        });

        socket2.on('retrieved_artists', function(msg) {
            localStorage.setItem('artists', msg.data)
            
            var songs = localStorage.getItem('songs')
            var total_songs = localStorage.getItem('total_songs')
            var failed_songs = localStorage.getItem('failed_songs')
            var artists = localStorage.getItem('artists')
            
            var message_songs = `${songs} of ${total_songs} with ${failed_songs} errors`
            var message_artists = `${artists} unique artists retrieved`
            
            $('#process_message').text(message_songs)
            $('#process_message2').text(message_artists)
        });

        socket2.on('retrieved_genres', function(msg) {
            $('#process_message2').text('')

            localStorage.setItem('genres', msg.data)
            localStorage.setItem('artist_count', msg.artist_count)

            var artists = localStorage.getItem('artists')

            $('#process_message').text(`${msg.data} genres retrieved from ${msg.artist_count} of ${artists} artists`)
        });

        socket2.on('get_recommendations', function(msg) {
            var total_recommendations = localStorage.getItem('total_recommendations')
            
            $('#process_message').text(`${msg.data} of ${total_recommendations} suggestions retrieved`)
            localStorage.setItem('recommendations_count', msg.data)

            $('#processes > button').prop('disabled', false)
        });

        socket2.on('analyse_recommendations', function(msg) {
            var total_recommendations = localStorage.getItem('total_recommendations')

            $('#process_message').text(`${msg.data} of ${total_recommendations} suggestions analysed`)
        });

        socket2.on('similarity_recommendations', function(msg) {
            var total_recommendations = localStorage.getItem('total_recommendations')

            $('#process_message').text(`${msg.data} of ${total_recommendations} songs scored`)
        });

        // Redirect
        socket2.on('store_data', function(data) {
            tracks = data.tracks
            artists = data.artists
            genres = data.genres
            song_error_count = data.song_error_count
            recommendations = data.recommendations
            playlist = data.playlist
            average_features = data.average_features

            $.ajax({
                url: '/store_data',
                type: 'POST',
                data: {
                    namespace: namespace,
                    tracks: JSON.stringify(tracks),
                    artists: JSON.stringify(artists),
                    genres: JSON.stringify(genres),
                    song_error_count: song_error_count,
                    recommendations: JSON.stringify(recommendations),
                    playlist: JSON.stringify(playlist),
                    average_features: JSON.stringify(average_features)
                }
            })
        })
    })
</script>
{% endblock %}
